<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.gunn.test.ajax.dao.BookingDAO">
 	<select id = "selectBookingList" resultType="com.gunn.test.ajax.model.Booking">
 			SELECT
 			`id`
 			,`name`
 			,`yyyymmdd`
 			,`number`
 			,`personnel`
 			,`phoneNumber`
 			,`situation`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`booking`
 	</select>
 	
 	<insert id = "insertBooking" parameterType = "com.gunn.test.ajax.model.Booking">
 		INSERT INTO `booking`
		(
			`name`
			, `yyyymmdd`
			, `number`
			, `personnel`
			, `phoneNumber`
			, `situation`
			, `createdAt`
			, `updatedAt`	
		)
		VALUES 
		(
			#{name}
			, #{yyyymmdd}
			, #{number}
			, #{personnel}
			, #{phoneNumber}
			, "대기중"
			, now()
			, now()
		)
 	
 	</insert>
 </mapper>