<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.gunn.test.ajax.dao.EntrantDAO">
 	<select id = "selectEntrantList" resultType = "com.gunn.test.ajax.model.Entrant">
 		SELECT
 			`id`
 			,`name`
 			,`license`
 			, `createdAt`
            , `updatedAt`
 		FROM
 			`entrant`
 	</select>
 	
 	<insert id ="insertEntrant" parameterType = "com.gunn.test.ajax.model.Entrant">
 		INSERT INTO
 			`entrant`
 		(
 			
 			`name`
 			,`license`
 			,`createdAt`
 			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			,#{license}
 			,now()
 			,now()
 		)
 	
 	</insert>
 
 </mapper>