<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
   	<mapper namespace = "com.gunn.test.mybatis.dao.RealEstateDAO">
 		<select id="selectRealEstate" resultType="com.gunn.test.mybatis.model.RealEstate">
 			SELECT
 			`id`
            , `realtorId`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rentPrice`
            , `updatedAt`
            , `createdAt`
        FROM
            `real_estate`
 		WHERE
 			`id` = #{id}
 	 	</select>
 	 	
 		<select id="selectPrice" resultType="com.gunn.test.mybatis.model.RealEstate">
 			SELECT
 			`id`
            , `realtorId`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rentPrice`
            , `updatedAt`
            , `createdAt`
        FROM
            `real_estate`
 		WHERE
 			<![CDATA[`rentPrice` < #{rentPrice}]]>
 		</select>
 		
 		<select id = "selectRealEstateByAreaPrice" 
 		resultType = "com.gunn.test.mybatis.model.RealEstate"
 		parameterType = "map">
 			SELECT
 			`id`
            , `realtorId`
            , `address`
            , `area`
            , `type`
            , `price`
            , `rentPrice`
            , `updatedAt`
            , `createdAt`
        FROM
            `real_estate`
 		WHERE
 			<![CDATA[
 			`area` >= #{area}
 			AND `price` <= #{price}]]>
 		ORDER BY `id` DESC
 		
 		</select>
 	 	
 	 	
 	</mapper>
 	
 	