<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.gunn.test.jstl.dao.WeatherhistoryDAO">
 		<select id="selectWeatherhistory" resultType="com.gunn.test.jstl.model.Weatherhistory">
 			SELECT
 			`id`
            , `date`
            , `weather`
            , `temperatures`
            , `precipitation`
            , `microDust`
            , `windSpeed`            
            , `createdAt`
            , `updatedAt`
        FROM
            `weatherhistory`
 		</select>
 		
 		<insert id="insertWeather" parameterType = "map">
 			INSERT INTO
 				`weatherhistory`
 				(
 					`id`
            		, `date`
            		, `weather`
            		, `temperatures`
            		, `precipitation`
            		, `microDust`
            		, `windSpeed`            
            		, `createdAt`
            		, `updatedAt`
            	)
            VALUES
            	(
            		#{date}
            		,#{temperatures}
            	)
        FROM
            `weatherhistory`
 		</insert>
 	</mapper>